* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upperNav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 230px;
}
.muetLogo {
  padding-top: 10px;
}
.searchBar {
  background: #eee;
  border-radius: 5px;
  padding: 16px 18px;
  gap: 10px;
}
.searchBar > input {
  padding: 2px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  background: #f6f9fb;
}
.quickLinks {
  background: #eee;
  color: #1b4d70;
  padding: 1px;
  padding-right: 100px;
  font-size: small;
  box-shadow: 0px 0.5px 1px 0px gray;
}

.searchAndLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;
}

.searchAndLinks p {
  border: 1px solid lightgray;
  padding: 3px 2px 1px 2px;
  font-size: small;
}
.dropDownMenu {
  padding: 4px 6px;
  color: #1b4d70;
  background: #e0e0e0;
  border-radius: 8px;
  text-shadow: 1px 0 #1b4d70;
  font-size: 15px;
}

.dropDownMenuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  margin: 4px 0px;
  list-style: none;
  background: #1a85c7;
  padding: 10px 80px 10px 10px;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}
.dropDownMenu:hover {
  color: white;
  background: #1a85c7;
}
.dropDownMenu:hover + .dropDownMenuList {
  visibility: visible; /* Show when hover occurs */
  opacity: 1; /* Make it visible */
}

.lowerNav {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.navFooter {
  background: #2e75a4;
  padding: 12px;
  width: 100vw;
  margin-bottom: 5px;
  box-shadow: 0px 20px 0px 20px #e9f4f8;
}
#main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainContent {
  width: 50vw; /* Retain the existing width */
  overflow: hidden; /* Prevent overflow */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.largeImg {
  width: 100%;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.largeImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#footer {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  margin: 20px auto;
}

#footer > hr {
  margin: 20px auto;
  width: 90%;
  border: 1px solid #ccc;
}
#notifications {
  width: inherit;
  background: #fcfdff;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 25px 0px;
  padding: 8px;
}

#notifications > div:first-child {
  display: flex;
  gap: 10px;
}

#notifications > div:first-child > span:first-child {
  padding-left: 10px;
  color: #ca2950;
}
#notifications > div:nth-child(2) {
  padding-right: 10px;
  font-size: 14px;
  color: #27638c;
}

.cardContainerOne,
.cardContainerTwo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.card > * {
  width: 100%;
}

.title {
  color: white;
  padding: 4px;
  font-size: 16px;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.desc {
  color: #666;
  margin-top: 8px;
  font-size: 12px;
}

.links {
  padding: 10px;
  width: 100%;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.links li,
.notifications > div:nth-child(2),
.notifications div > span:nth-child(2) {
  font-size: 14px;
  color: #27638c;
  cursor: pointer;
  text-shadow: 1px 0 #27638c;
}
#newsAndEvents {
  height: 450px;
  width: 300px;
  position: relative; /* Make the container a positioning context */
}

.newsEventsflex {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 10px 20px 10px;
}

.viewAll {
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  text-align: end;
  padding: 4px;
  margin-bottom: 15px;
  background: #eeeeee;
  font-size: 14px;
  color: #27638c
}
#bottomContent {
  width: 50vw;
}
#bottomImages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-sizing: border-box;
}

#bottomImages > div {
  box-sizing: border-box;
  border: 2px solid gray;
  padding: 1px;
  transition: border, padding 0.3s ease;
  height: 100px;
}

#bottomImages > div > img {
  width: 100%;
  height: 100%;
}

#bottomImages > div:hover {
  padding: 3px;
}

#quickLinks {
  margin: 55px 0px 10px 0px;
}
.firstRow,
.secondRow,
.thirdRow,
.fourthRow,
.fifthRow {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  color: #27638c;
}

#quickLinks > div > div {
  padding: 10px;
  text-align: center;
}
.firstRow {
  color: #b8224a;
  font-size: 17px;
  text-shadow: 1px 0 #b8224a;
}
.secondRow,
.thirdRow,
.fourthRow,
.fifthRow {
  font-size: 12px;
}
#quickLinks > div:nth-child(2) {
  margin-top: 45px;
}
.heading {
  color: #666666;
  text-align: center;
  text-shadow: 1px 0 #666666;
  font-size: 17px;
}
.heading > img:first-child {
  width: 25px;
}
.secondRow,
.fourthRow,
.fifthRow {
  background-color: #f4f8f9;
}
#quickLinks > div:first-child,
#quickLinks > div:nth-child(2) {
  border: 1px solid #ccc;
}
.note {
  color: #666666;
  margin: 10px;
  font-size: x-small;
}
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide-image {
  width: 100%;
  flex-shrink: 0;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(91%) sepia(6%) saturate(5%)
  hue-rotate(210deg) brightness(96%) contrast(88%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.prev img,
.next img {
  width: 30px;
}