nav{
  display: flex;
  justify-content: center; 
  align-items: center;
  
}
.upperNav{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 250px;
}
.searchBar{
  background: rgb(108, 108, 133);
  border: 2px solid black;
  padding: 6px;
}
.quickLinks{
  background: rgb(108, 108, 133);
  border: 2px solid black;
  padding: 2px;
  padding-right: 100px;
}
.searchAndLinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;
}

