* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.upperNav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 250px;
}
.muetLogo{
  padding-top: 10px;
}
.searchBar {
  background: #eee;
  border-radius: 5px;
  padding: 16px 18px;
}

.quickLinks {
  background: #eee;
  color: #2e75a4;
  padding: 2px;
  padding-right: 100px;
}

.searchAndLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;
}

.dropDownMenu {
  padding: 6px 12px;
  color: #1b4d70;
  font-weight: bold;
  background: hsl(0, 0%, 88%);
  border-radius: 8px;
  font-weight: bolder;

}

.dropDownMenuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  margin: 4px 0px;
  list-style: none;
  background: #1a85c7;
  padding: 10px;
  visibility: hidden; 
  position: absolute; 
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.dropDownMenu:hover{
  color: white;
  background: #1a85c7;
}
.dropDownMenu:hover + .dropDownMenuList {
  visibility: visible; /* Show when hover occurs */
  opacity: 1; /* Make it visible */
  
}

.lowerNav {
  
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.navFooter{
  background:#2e75a4;;
  padding:12px;
  width: 100vw;
  margin: 2px;
}
#Main{
  width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #1a85c7;
}
.largeImg{
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev{
  position : relative;
  left: 50px;
}
.next{
  position : relative;
  right: 50px;
}
.prev , .next{
  filter: brightness(0) saturate(100%) invert(91%) sepia(6%) saturate(5%) hue-rotate(210deg) brightness(96%) contrast(88%); 
  /* Change color to #bdbbca */
}
#footer {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 20px auto;
}

#footer > hr {
  margin: 20px auto; 
  width: 90%; 
  border: 1px solid #ccc;  
}
